## 4918 Ткачев М.А
---
#**Введение в анализ данных**
### Лабораторная работа №3 **Кластеризация данных**
---
### Индивидуальный вариант №5
Датасет: ***5gym_churn.csv***
> Информация о заемщиках:
1. gender – Пол
2. near_location – Близкое расположение
3. partner – Сотрудник компании партнера
4. promo_friends – По промо друзей
5. phone – Указан ли телефон
6. contract_period – Длительность текущего абонемента
7. group_visits – Посещение групповых занятий
8. age – Возраст
9. avg_additional_charges_total – Средние траты на доп услуги
10. month_to_end_contract – Количество месяцев до окончания абонемента
11. lifetime – Время с момента первого обращения в фитнес-центр (в месяцах)
12. avg_class_frequency_total – Средняя частота посещений в неделю за все время с начала действия абонемента
13. avg_class_frequency_current_month – Средняя частота посещений в неделю за предыдущий месяц
14. churn – Факт ухода из клуба

In [ ]:
# Подключаем библиотеку для обработки и анализа данных
import pandas as pd

In [ ]:
# Загружаем датасет
df=pd.read_csv('5gym_churn.csv', delimiter=',')

In [ ]:
# Выводим информацию о данных датасета
df.info()

In [ ]:
# Выводим первые 10 строк датасета
df.head(10)

### Вывод

Ознакомившись с данные на первый взгляд с ними все хорошо только названия столбцов нужно привести к единому змеиному регистру, переименовывать не нужно так как названия столбцов соответствуют содержимому.

Типы данных также соответствуют.

# Предварительная подготовка данных

## Устранение проблем названий столбцов

In [ ]:
# Вывели названия столбцов таблицы
print(*df.columns.tolist(), sep='\n')

In [ ]:
# Приведём названия столбцов к нижнему регистру
df.columns = df.columns.str.lower()
# Проверка
print(*df.columns.tolist(), sep='\n')

### Вывод

Теперь названия столбцов имеют единый стиль змеиного регистра, что улучшает восприяние информации.

## Обработка пропусков

In [ ]:
# поиск пустых значений
df.isnull().sum()

### Вывод

Пропусков в дата сете не оказалось, исправлять ничего не нужно – это упрощает нам работу.

## Устранение дубликатов

In [ ]:
# проверим, есть ли дубликаты в таблице
df.duplicated().sum()

### Вывод

Дубликаты отсутствуют.

## Обработка других ошибок в данных

In [ ]:
import numpy as np
# посмотрим уникальные значения в столбцах
for i in df.columns:
  if i not in ['avg_additional_charges_total', 'month_to_end_contract', 'avg_class_frequency_total', 'avg_class_frequency_current_month']:
    print('Столбец: ' + i, *np.sort(df[i].unique()),'_____________________________________', sep='\n')

In [ ]:
df.describe().T

### Вывод

Проверив данные в столбцах на наличие ошибочных значений, не нашли их.

Все значения количественных значений в допустимых пределах, а категориальные данные не содержат ошибочных значений.

# Кластеризация объектов

## Стандартизация данных

Выберали метод стандартизации, потому что это наиболее часто используемы метод. Масштабирование данных будем производить с помощью класса StandardScaler() из модуля preprocessing библиотеки для машинного обучения sklearn.

In [ ]:
# Импорт модуля !pip install --upgrade pip

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()           # создаём объект класса scaler
df_sc = scaler.fit_transform(df)    # обучаем стандартизатор и преобразуем набор данных

## Агломеративная иерархическая кластеризация

### Удаление целевого признака из данных

In [ ]:
# Кластеризация без цлевого признака в данных
df_sc = pd.DataFrame(df_sc, columns = df.columns)
y = df_sc['churn']
X = df_sc.drop(['churn'], axis=1)

In [ ]:
# Импортируем из модуля для иерархической кластеризации hierarchy
# классы модели кластеризации linkage() и dendrogram():
from scipy.cluster.hierarchy import dendrogram, linkage
from matplotlib import pyplot as plt

# Создали таблицу «связок» между объектами
linked = linkage(df_sc, method = 'ward')

# Построение дендрограммы
plt.figure(figsize=(15, 10))
dendrogram(linked, orientation='top')
plt.title('Иерархическая кластеризация для фитнес клуба')
plt.show()

Из дендрограммы выдно насколь меняется результат при удалении целевого признака из набора данных

Из дендрограммы явно видно, что оптимальное количеством кластеров для нашего датесета равно 4

Разделим данные на 4 кластеров с применением метода KMeans и метрики высчитанной для агломеративной иерархической кластеризации

In [ ]:
from sklearn.cluster import KMeans

# Задаём число кластеров, равное 4, и фиксируем значение random_state для воспроизводимости результата
km = KMeans(n_clusters=4, random_state=0)
# Определяем соответствие значений кластерам
labels = km.fit_predict(df_sc)

## Приоизводим оценку средних значений призноков кластера

In [ ]:
# Находим средние значения параметров по кластерам
df.groupby(labels).mean()

Определили три признака (характеристики), оказавших наибольшее влияние на выделение кластеров используя оценку средних значений признаков на основе визуального анализа построенного графика:

* contract_period – Длительность текущего абонемента
* avg_additional_charges_total – Средние траты на доп 
* churn – Факт ухода из клуба

Данные признаки были выбраны, потому что они сильнее всего отличаются для разных кластеров.

### Метрика силуэта

In [ ]:
from sklearn.metrics import silhouette_score
silhouette_score(df_sc, labels)

## K-Means кластеризация

Задали случайным образом число кластеров равное 4 и произвели кластеризацию

In [ ]:
from sklearn.cluster import KMeans

km = KMeans(n_clusters = 4, random_state = 0)   # задаём число кластеров, равное 5, и фиксируем значение random_state для воспроизводимости результата
labels_km = km.fit_predict(df_sc)              # применяем алгоритм к данным и формируем вектор кластеров

Рассчитали евклидово расстояние между кластерами и построели тепловую карту для их отобрадения

In [ ]:
from sklearn.metrics.pairwise import euclidean_distances
from seaborn import heatmap

heatmap(euclidean_distances(km.cluster_centers_), annot=True)

In [ ]:
# Находим средние значения параметров по кластерам
df.groupby(labels_km).mean()

Аналогично тому, как мы определяли три признака наиболее повлиявших на разбиение кластеров в прошлый раз определили параметры, которые наиболее различны для кластеров, ими оказались следующие:
* contract_period – Длительность текущего абонемента
* month_to_end_contract – Количество месяцев до окончания абонемента
* churn – Факт ухода из клуба

### Определили объекты, относящиеся к каждому кластеру

* **Кластер 0**
  * Отток - 0,5%
  * Краткосрочные договора до 3 месяцев
  * Время с момента первого обращения в фитнес-центр более 4 
  * Живут или работают неподалеку от фитнес-клуба 84%
  * Средние траты на доп услуги 158.5
* **Кластер 1**
  * **Отток - 0,1% - свмый низкий**
  * Краткосрочные договора до 3 месяцев
  * Время с момента первого обращения в фитнес-центр более 4 
  * Живут или работают неподалеку от фитнес-клуба 82%
  * Средние траты на доп услуги 152.3
* **Кластер 2**
  * **Отток - 99% - самый высокий**
  * **Краткосрочные договора до 2 месяцев**
  * До окончания контракта меньше 2 месяцев
  * Время с момента первого обращения в фитнес-центр меньше 1 месяца
  * Живут или работают неподалеку от фитнес-клуба 76%
  * **Средние траты на доп услуги 114.5 - ниже остальных**
* **Кластер 3**
  * **Отток - 1,5%**
  * **Долгосрочные договора до 12 месяцев**
  * Время с момента первого обращения в фитнес-центр более 4 месяцев
  * Живут или работают неподалеку от фитнес-клуба 93%
  * **Средние траты на доп услуги 163.5 - самый высокий**

### Разделил данные на 2 класса и посчитаем сркднии значениця
Так как у нас бинарный результата, то есть либо клиент ушел либо остался посмотрим какие результаты мы получем для средних значений призноков при резбиении на 2 класса.

In [ ]:
# Кластеризация без целевого признака

from sklearn.cluster import KMeans

km = KMeans(n_clusters = 2, random_state = 0)  
labels_km = km.fit_predict(X)

df.groupby(labels_km).mean()

In [ ]:
# Метрика силуета
from sklearn.metrics import silhouette_score
silhouette_score(df_sc, labels_km)

### Метрика силуэта

In [ ]:
from sklearn.metrics import silhouette_score
silhouette_score(df_sc, labels_km)

Отценка качества кластеризации методом силуета дала значение равное приближонно 0,13.

Так как значение метрики силуэта принимает значения от -1 до 1 и чем ближе к 1, тем качественнее кластеризация,то наше предположительное число кластеров в 4 является не самым оптимальным и его можно сокоректировать.

Значения, близкие к 0, указывают на перекрывающиеся кластеры.

### Определение оптимального числа кластеров

Чтобы рассчитать оптимальное число кластеров, воспользуемся критерием – суммы квадратов расстояний от точек до центроидов кластеров, к которым они относятся.

Данный критерий рассчитывается по формуле:

![111.png]()

где C – множество кластеров мощности K, μ &#8342; – центроид кластера C &#8342;

In [ ]:
from sklearn.cluster import KMeans

inertia = []
mx = 20
for k in range(1, mx):
    kmeans = KMeans(n_clusters=k, random_state=1).fit(X)
    inertia.append(np.sqrt(kmeans.inertia_))

plt.plot(range(1, mx), inertia, marker='s');
plt.xlabel('$k$')
plt.ylabel('$J(C_k)$');

График получился довольно плавный поэтому конкретное число конкретное число кластером не так очевидно. По правилу локтя оптимальным можно выбрать значения 5, 6, или 7, потому что до 5 значения J(C&#8342;)  быстро падает с увеличением количества кластеров, а после 7 падение сильно замедляется.

## Вывод
В ходе данной лабораторной работы мы подготовили датасет и провели его кластеризацию.

Подготовили датасет с информацией о клиентах фитнес-клуба, исправив ошибки с названиями, в остальном данные были валидны.

Затем, чтобы можно было провести кластеризацию, стандартизировали данные, чтобы установить подходящие размерности параметров.

Стандартизированные данные подвергли кластеризации методом агломеративной иерархической кластеризации, в ходе которой определили по построенной дендрограме оптимальное число кластеров. На кластеризированых данных провели анализ и выяснили какие параметры имели наибольшее значение для разделения на кластеры.

Потом проделали кластеризацию тех же стандартизированных данных с применением алгоритма К-средних. Изначально было выбрано не самое оптимальное количество кластеров, это выяснилось при оценки критерием – суммы квадратов расстояний от точек до центроидов кластеров, к которым они относятся. Аналогично первому методу выделили параметры наиболее повлиявшие на разделение кластеров и описали в терминах предметной области получившиеся кластеры.